.customers {
    max-width: 1170px;
    height: 630px;

    margin: 0 auto;
    margin-bottom: 64px;
    padding: 50px 15px 0 15px;
}

.customers__space {
    display: flex;
    justify-content: space-between;
}

.customers__customer {
    width: 370px;
    height: 336px;
}

.customers__cloud {
    height: 180px;
    background: white;
    border-radius: 10px;
    background-color: #d7d8db;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #86878B;

}

.customers__triangle {
    width: 30px;
    height: 30px;
    background: white;
    background-color: #d7d8db;
    transform: rotate(-135deg);
    margin-top: -15.8px;
    margin-left: 70px;
    margin-bottom: 46px;
}

.customers img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.customers__info {
    height: 90px;
    display: flex;

}

.customers__dots {
    height: 10px;
    background-image: url(../images/dots.svg);
    display: none;
    margin: 0 auto;
}

.customers__info_name {
    width: 270px;
    height: 54px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}

.customers__info_position {
    width: 270px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}
.customers h5{
    margin-bottom:83px;
}

@media only screen and (max-width:1205px) {
    .customers {
        max-width: 320px;
        margin-bottom: 0;
        padding:0 15px;
    }
    .customers h2{
        margin-top:26px;
    }
    .customers__space {
        flex-direction: column;
    }

    .customers__customer:nth-child(1) {
        display: none;
    }

    .customers__customer:nth-child(3) {
        display: none;
    }

    .customers__cloud {
        width: 288px;

    }

    .customers__dots {
        background-repeat: no-repeat;
        display: block;

        width: 130px;
        margin-top: 32px;
    }

    .customers__customer {
        width: 288px;
        margin: 0 auto;
    }

    .customers__info_name {
        width: 204px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
    }

    .customers__info_position {
        width: 205px;
        font-size: 13px;
        line-height: 15px;
    }
    .customers img {
        height: 57px;
        width: 57px;
    }
    .customers h5 {
        margin-bottom:24px;
    }
}