.design__background {
    width: 100%;
    background: url(../images/bgdesign.png), url(../images/bgimagedesign.png) no-repeat center;
    background-size: cover;
    margin-bottom: 50px;
}

.design__container {
    max-width: 1170px;
    margin: 0 auto;
    height: 442px;
    padding: 0 15px;
}

.design__title {
    height: 120px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.desing__separator {
    width: 170px;
    border-top: 1px solid white;
    margin: 0 auto;
    margin-bottom: 40px;
}

.design__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 73px;
}

.design__button {
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;

}

@media only screen and (max-width:1200px) {
    .design__container {
        width: 288px;
        margin: 0 auto;
        text-align: center;
    }

    .design__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .design__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .design__button{
        width: 288px;
    }
}