.pricing {

    max-width: 1170px;
    height: 900px;
    margin: 0 auto;
    padding: 59px 15px 0 15px;
}

.pricing__levels {
    display: flex;
    justify-content: space-between;
}

.pricing__tab {
    width: 370px;
}

.pricing__tab_name {
    height: 60px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.pricing__tab_price {
    height: 100px;
    font-family: 'Raleway';
    background: #333333;
    border: 2px solid #F5F5F5;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.pricing__tab_text {
    height: 50px;
    font-family: 'Raleway';
    background: #333333;
    border: 2px solid #F5F5F5;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.pricing__tab_info {
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: #86878B;
}

.pricing h5 {
    margin-bottom: 79px;
}

#basic:hover {
    transform: scale(1.1);
    transition: 1s;

}

#optima:hover {
    transform: scale(1.1);
    transition: 1s;
}

#pro:hover {
    transform: scale(1.1);
    transition: 1s;
}

@media only screen and (max-width:1205px) {
    .pricing {
        max-width: 290px;
        height: 1480px;
        padding: 0 15px;
        margin-bottom: 26px;
    }

    .pricing h5 {
        margin-bottom: 24px;
    }

    .pricing__levels {
        height: 0;
    }

    .pricing__tab {
        padding-bottom: 27px;
        width: 0;
    }

    .pricing__levels {
        flex-direction: column;
    }

    .pricing__tab_name {
        width: 288px;
        height: 45px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;

    }

    .pricing__tab_price {
        width: 288px;
        height: 75px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

    }

    .pricing__tab_text {
        width: 288px;
        height: 35px;
        margin: 0 auto;
    }

    .pricing__tab_info {
        width: 288px;
        height: 36px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

}