* {
    margin: 0;
    padding: 0;
}

h2 {
    height: 120px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-transform: uppercase;
}

.separator {

    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}

h5 {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #86878B;
}

@media only screen and (max-width:1205px) {
    h2 {
        margin: 0 auto;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        width: 280px;

        color: #000000;
        text-align: center;
    }

    h5 {

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        width: 288px;
        text-align: center;
        margin: 0 auto;
        color: #86878B;
    }

    .separator {
        margin-bottom: 24px;
    }
}